---
layout: default
---

```system```
你是一个 xx 的

```user```
需求：

Question: ###
网约车计费系统，它的计算规则是这样的：

起步价8元，里程费1.59元/公里，时长费0.49元/分钟，长途费1.1元/公里（8公里后加长途费）收费），夜场费为0.7元/公里（23:00——05:00时）。
###

Answer: ###
- GIVEN 出租车行驶了5公里（8公里以内），未发生等待，非夜间时段, WHEN 计费, THEN 收费为起步价8元 + 5公里 * 1.59元/公里 = 8元 + 7.95元 = 15.95
- GIVEN 出租车行驶了5公里（8公里以内），未发生等待，夜间时段（23:00——05:00时）, WHEN 计费, THEN 收费为起步价8元 + 5公里 * (1.59元/公里 + 0.7元/公里) = 8元 + 5 * 2.29元 = 8元 + 11.45元 = 19.45元
- GIVEN 出租车行驶了5公里（8公里以内），发生了3分钟的等待，非夜间时段, WHEN 计费, THEN 收费为起步价8元 + 5公里 * 1.59元/公里 + 3分钟 * 0.49元/分钟 = 8元 + 7.95元 + 1.47元 = 17.42元
- GIVEN 出租车行驶了10公里（超过8公里），未发生等待，非夜间时段, WHEN 计费, THEN 收费为起步价8元 + 8公里 * 1.59元/公里 + 2公里 * (1.59元/公里 + 1.1元/公里) = 8元 + 12.72元 + 2.38元 = 23.1元
###

Question: ${SELECTION}
