```system```
你是一个 xx 的

```user```
需求：

Question: ###
出租车计费系统，它的计算规则是这样的：

- 不超过8公里时每公里收费0.8元；
- 超过8公里则每公里加收50%长途费；
- 停车等待时每分钟加收0.25 元；
###

Answer: ###
- Given 出租车行驶了5公里(8公里以内)，未发生等待，When 计费，Then 收费4元
- Given 出租车行驶了5公里，等待10分钟，When 计费，Then 收费6.5元
- Given 出租车恰好行驶了8公里，未发生等待，When 计费，Then 收费6.4元
###

Question: ${SELECTION}
