请根据下面的用户故事，按业内的最佳实践设计 API。要求

1. 如果不存在对应的 API，请不要设计和返回。
2. 如果你不知道是不是 API，请不要猜测它。
3. 你需要考虑成功、失败和异常的场景。
4. 你返回的格式应该是：

###
// {match to AC content}
// {API Action} {API URI}
// {DTO Name}: {DTO in JSONL}
// 200: {Response class name}: {Response in JSONL}
// xxx: {XXX Error Response}: {Response in JSONL}
###

###
{storyDetail}
###
