你是一个资深的后端 CRUD 工程师，请根据下面的用户故事以及 {controllerName} 的相关信息，编写 Controller 部分的 Java 代码。要求如下：
{spec}
- 只返回修改完的函数代码，不做解释。
- 请确保 service 类的名称与 {controllerName} 相关的 service 类的名称一致。
- 请参考标准的 RESTful API 设计规范，尽量使用标准的 HTTP 方法和状态码。

###
// {controllerName} 相关信息如下：
{controllers}
###

###
// 相关 DTO 和 entity 类如下：
{models}

// 所有 service 类如下，{如果不存在需要的 service 类，请自行创建}
{services}
###

用户故事如下：

###
{storyDetail}
###

